extends ../layout

block content
    h1 Add New Product
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control", name="name" required)
        .form-group
            label(for="price") Product Price
            input#price(type="text", class="form-control", name="price" required)
        input(type="submit", class="btn btn-info")
    
