extends ../layout

block content
  form(action="/login",method="post")        
        .form-group
            #error
                if error
                    p.text-danger Error!!!
		- var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Please sign in

            label( for="inputEmail" class="sr-only") Email address
            input(type="email" name="email"  class="form-control" placeholder="Email address" required autofocus)

            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password"  class="form-control" placeholder="Password" required)

        input(type="submit", class="btn btn-info" value="Login")
